<div class="mainList">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="list">
                    <ul>
                        <li routerLink="formevent">
                            FromEvent
                        </li>
                        <li routerLink="interval">
                            Interval
                        </li>
                        <li routerLink="toarray">
                            toArray
                        </li>
                        <li routerLink="map">
                            Map
                        </li>
                        <li routerLink="filter">
                            filter
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>